/****** solarized light ******/
.json-pretty
  line-height 1.3
  color #586E75
  background #FDF6E3

  .json-key
    color #93A1A1

  .json-value
    color #268BD2

  .json-string
    color #2AA198

  .json-boolean
    color #D30102